Repository TheChance101/MENA-mobile, pull requests merged in 2025-10, with the labels that each got.

#247 add Product Repository implementation with test cases
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanRepoistoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/PageResponseDto.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/product/CreateProductRequest.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/product/CreateProductResponse.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/product/ProductDto.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/mapper/PagedResponseMapper.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/mapper/ProductMapper.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/util/multiPortBuilder.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImplTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/DukanRepositoryImplTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mapper/PagedResponseMapperKtTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mapper/ProductMapperKtTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mockEngine/dukan/mockDukanEngine.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mockEngine/product/demoData.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mockEngine/product/mockProductsEngine.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mockEngine/util.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/entity/Product.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/repository/ProductRepository.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/util/PagedResult.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/pagination/base/BasePagingSource.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/pagination/base/BasePagingSourceTest.kt
Labels: Dukan

#241 Feature/idn 52 user repository tests
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/dataSource/local/database/dao/UserDao.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/dataSource/local/setting/settings.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/repository/UserRepositoryImpl.kt
  identity_data/src/jvmTest/kotlin/net/thechance/mena/identity/data/repository/ProfileRepositoryImplTest.kt
  identity_data/src/jvmTest/kotlin/net/thechance/mena/identity/data/repository/UserRepositoryImplTest.kt
Labels: Infra

#259 refactor: update authentication endpoint paths
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/repository/AuthenticationRepositoryImpl.kt
Labels: Infra

#258 Feature/wlt 37 transaction details data
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/TransactionRepositoryImpl.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/TransactionRepositoryImplTest.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/model/TransactionStatus.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsMapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsMapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/mapper.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModelTest.kt
Labels: Wallet

#256 Test/ FTH 53 add hash check for Surah data class test
  .gitattributes
  faith_domain/src/jvmTest/kotlin/net/thechance/mena/faith/domain/entity/SurahTest.kt
Labels: Faith

#220 Feature/idn 69 refactor dialog add basic dialog
  design_system/src/commonMain/composeResources/font/madimi_one_regular.ttf
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/dialog/BasicDialog.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/dialog/Dialog.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/image/Image.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/scaffold/Scaffold.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/textField/BasicTextField.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/textField/MobileNumberTextField.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/theme/typography/CreateThemeTypography.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/theme/typography/Typography.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/components/PageDescription.kt
Labels: Infra

#255 Feature/TRN-41 upload video screen ui
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/UploadReelResponse.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/ReelsRepositoryImpl.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/repository/ReelRepositoryImplTest.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/repository/util/mockReelResponse.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/UploadReelProgress.kt
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/composeResources/values-ar/strings.xml
  trends_presentation/src/commonMain/composeResources/values/strings.xml
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/Route.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsApiImpl.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsNavGraph.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/category_pick/CategoryPickScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/main_container/MainContainerEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/main_container/MainContainerScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/main_container/MainContainerViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelInteractionListener.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelScreenEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelScreenState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_trend/UploadTrendScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_trend/UploadTrendsScreenEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_trend/UploadTrendsScreenState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/NextButton.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/UploadVideoCard.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/VideoLoadingCardItem.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/model/FileUiState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/model/VideoUploadingState.kt
  trends_presentation/src/commonTest/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadTrendViewModelTest.kt
Labels: Trends

#240 feature/DKN-46-create-product-screen
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/mapper/ProductMapper.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImplTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mapper/ProductMapperKtTest.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/repository/ProductRepository.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/util/CreateProductParams.kt
  dukan_presentation/src/commonMain/composeResources/drawable/ic_cancel.xml
  dukan_presentation/src/commonMain/composeResources/drawable/ic_price.xml
  dukan_presentation/src/commonMain/composeResources/drawable/ic_product.xml
  dukan_presentation/src/commonMain/composeResources/drawable/ic_silver_tc.webp
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/DisplayProductImage.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/DrawBorder.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/UploadProductImage.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/di/DukanViewModelModule.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanRoute.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/UploadDukanImageContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/CreateProductScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ImageSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/PriceSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProductDescriptionSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProductNameSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProudctImageCrop.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ShelfSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/TopAppBar.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/ImageCropScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/components/ImageCropBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/main/components/TopAppBar.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/animation/FadeAnimations.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateProductInterfaceListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductUIState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/Mapper.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductViewModelTest.kt
Labels: Dukan

#253 feature/WLT-21-view-pdf-screen
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/exceptions/safeApiCall.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/mapper/StatementMapper.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/StatementRepositoryImpl.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/BalanceRepositoryImplTest.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/StatementRepositoryImplTest.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/TransactionRepositoryImplTest.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/utils/MockEngine.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/StatementRepository.kt
  wallet_presentation/build.gradle.kts
  wallet_presentation/src/androidMain/kotlin/net/thechance/mena/wallet/presentation/utils/pdfUtils.android.kt
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/PdfViewer.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/WalletScaffold.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsMapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionsStatementScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/pdfUtils.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModelTest.kt
  wallet_presentation/src/iosMain/kotlin/net/thechance/mena/wallet/presentation/utils/pdfUtils.ios.kt
Labels: Wallet

#280 Feature/TRN-52-Implement reel deletion in UploadReelViewModel
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadReelViewModel.kt
  trends_presentation/src/commonTest/kotlin/net/thechance/mena/trends/presentation/screen/upload_reel/UploadTrendViewModelTest.kt
Labels: Trends

#275 Implement enhanced API error handling
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/ErrorResponse.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/util/safeApiCall.kt
Labels: Dukan

#286 feat: error handler
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/exceptions/EmptyResponse.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/StatementRepository.kt
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/BaseViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/ErrorState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/UiState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/DatePickerBottomSheet.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/ErrorView.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/FilterContent.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/SnackBarContainer.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/WalletScaffold.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/customToast.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/model/CustomToastState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/model/SnackBarState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/component/filterSection.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionFilterState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionAmountRow.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionContent.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionFilterBottomSheet.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionsStatementScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/BalanceCard.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/ThreeDotsLoadingIndicator.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModelTest.kt
Labels: Wallet

#278 Refactor/idn 82 auth http client
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/di/identityDataModule.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/di/provideHttpClient.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/repository/AuthenticationRepositoryImpl.kt
Labels: Infra

#227 Feature/trn 40 view model test
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/category_pick/CategoryPickViewModel.kt
  trends_presentation/src/commonTest/kotlin/net/thechance/mena/trends/presentation/screen/category_pick/CategoryPickViewModelTest.kt
Labels: Trends

#283 feature/DKN-28-create-product
  dukan_data/build.gradle.kts
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/mapper/ProductMapper.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/util/httpClient.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/util/multiPortBuilder.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/DukanProductRepositoryImplTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mapper/ProductMapperKtTest.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/repository/ProductRepository.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/util/CreateProductParams.kt
  dukan_presentation/dukan_presentation.podspec
  dukan_presentation/src/commonMain/composeResources/drawable/ic_price.xml
  dukan_presentation/src/commonMain/composeResources/drawable/ic_product.xml
  dukan_presentation/src/commonMain/composeResources/drawable/ic_silver_tc.webp
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/ImageWithTextContainer.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/DisplayProductImage.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/DrawBorder.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/productImage/UploadProductImage.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/di/DukanViewModelModule.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanRoute.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/UploadDukanImageContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/component/Map.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/CreateProductScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ImageSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/PriceSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProductDescriptionSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProductNameSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ProudctImageCrop.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/ShelfSection.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createProduct/component/TopAppBar.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/ImageCropScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/components/ImageCropBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/components/UploadImageBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/main/components/TopAppBar.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/manageDukan/ManageDukanScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/animation/FadeAnimations.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/extentions.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/file/ImageFile.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/pagination/PagingConfig.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateProductInterfaceListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductUIState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/Mapper.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageDukan/ManageDukanViewModel.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createProduct/CreateProductViewModelTest.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfViewModelTest.kt
  dukan_presentation/src/test/java/net/thechance/mena/dukan/presentation/util/ExtensionsKtTest.kt
Labels: Dukan

#282 Feature CHT-41 Web Socket Connection For Real-time Messaging
  core_chat_data/build.gradle.kts
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/ChatMapper.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/ChatRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/FakeChatRepository.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/dto/ChatDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/dto/MessageDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/dto/MessageEvent.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/utils/DateTimeExtensions.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/utils/MessageEventSerializer.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/utils/WebSocketManager.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/utils/WebSocketManagerImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactMapper.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/dto/ContactDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/utils/extensions.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/networkModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/repositoryModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/ApiConstants.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/httpClient.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/BaseRepository.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/chat/ChatRepositoryImplTest.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/chat/fakes/FakeWebSocketManager.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsMapperTest.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImplTest.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/fakes/fakeDataSamples.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/utils.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/network/CreateHttpClientTest.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/entity/Chat.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/entity/Contact.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/entity/Message.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/exception/chatExceptions.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/repository/ChatRepository.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/repository/ContactsRepository.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/Routes.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatArgs.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatScreenState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatUiState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/MessageUiState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/TextMessageItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreenInteractionListener.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreenState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/components/ContactsList.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/shared/BasePagingSource.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/utils/getUuidOrNull.kt
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatViewModelTest.kt
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModelTest.kt
Labels: Chat

#293 fix: Add space to full name and refactor user fetching
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/repository/UserRepositoryImpl.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreenViewModel.kt
Labels: Infra

#257 feature/FTH-31-fix-issues-in-surah-screen
  faith_presentation/src/commonMain/composeResources/values/strings.xml
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/component/FaithScaffold.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreenState.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AnnotionStringBuilder.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AyahActionButtons.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/SurahComponents.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/VerticalDivider.kt
Labels: Faith

#252 Feature/wlt 3 transaction pagination
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/mapper/FilterParamsMapper.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/transaction/TransactionRepositoryImpl.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/TransactionRepositoryImplTest.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/TransactionRepository.kt
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryMapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/FilterButton.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/FilterTransactionEmpty.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionContent.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionErrorState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionHistoryDivider.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionHistoryEmpty.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionLoadingState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionhistoryCard.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionsListContent.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/PaginationTrigger.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/Paginator.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModelTest.kt
Labels: Wallet

#300 feature/WLT-57-refactor-get-statement-repository
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/StatementRepositoryImpl.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/datasource/local/StatementLocalDataSource.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/datasource/local/StatementLocalDataSourceInMemoryImpl.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/datasource/remote/StatementRemoteDataSource.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/datasource/remote/StatementRemoteDataSourceImpl.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/dto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/statement/mapper.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/StatementRepositoryImplTest.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/StatementRepository.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/NavigationHost.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/Routes.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/mapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionsStatementScreen.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModelTest.kt
Labels: Wallet

#301 Fix/idn 94 koin dependancy
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/di/identityDataModule.kt
Labels: Infra

#302 feature/WLT-58-fix-broken-tests
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/StatementRepositoryImplTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsViewModelTest.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionStatementViewModelTest.kt
Labels: Wallet

#303 Refactor/dkn 72 add named http client
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanRepoistoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/util/httpClient.kt
Labels: Dukan

#306 feature/IDN 96 Add password and confirm password error message
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/components/LabelInputPassword.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forgetPassword/ForgetPasswordScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forgetPasswordOtp/OtpScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/resetPassword/ResetPasswordScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/resetPassword/ResetPasswordScreenUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/resetPassword/ResetPasswordScreenViewModel.kt
Labels: Infra

#287 Fix Overlays Visibility State
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomSheet/BottomSheet.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/scaffold/Scaffold.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/scaffold/ScaffoldScope.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/bottomSheet/countryPicker/CountryPicker.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forgetPassword/ForgetPasswordScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/DatePickerBottomSheet.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export/ExportTransactionsScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionFilterBottomSheet.kt
Labels: Infra

#271 Refactor/CHT-48-update-chat-screen-ui
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_close_circle.xml
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/components/ErrorView.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/BaseMessageLayout.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatActionsDialog.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatList.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatListItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/MessageInfo.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/MessagingScreenOverlays.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ResendMessageDailog.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/TextMessageItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/components/ContactsList.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/utils/modifiers.kt
Labels: Chat
