Repository TheChance101/MENA-mobile, pull requests merged in 2025-09, with the labels that each got.

#5 Feature/initialize base dukan
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanRepoistoryImpl.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/entity/Category.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/entity/Dukan.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/exceptions/Exceptions.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/repository/DukanRepository.kt
  dukan_presentation/build.gradle.kts
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/base/BaseViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/componetns/.gitkeep
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanRouts.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/LocalNavControler.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/.gitkeep
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/CreateDukan/.gitkeep
  gradle/libs.versions.toml
Labels: Dukan, init

#9 Feature/create base view model for chat
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/shared/BaseViewModel.kt
Labels: Chat

#14 Feature/[TRN-8] add Trend entity and TrendRepository interface
  gradle/libs.versions.toml
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/FakeReelsRepositoryImpl.kt
  trends_domain/build.gradle.kts
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/.gitkeep
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Category.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Reel.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/repository/.gitkeep
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/repository/ReelRepository.kt
Labels: Trends

#20 feature/CHT-17-add-dependency-injection
  core_chat_data/build.gradle.kts
  core_chat_data/src/androidMain/kotlin/net/thechance/mena/core_chat/data/di/DataSourceModule.android.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/ChatDataModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/DataSourceModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/RepositoryModule.kt
  core_chat_data/src/iosMain/kotlin/net/thechance/mena/core_chat/data/di/DataSourceModule.ios.kt
  core_chat_presentation/build.gradle.kts
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/di/ApiModule.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/di/ChatPresentationModule .kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/di/ViewModelModule.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsViewModel.kt
  gradle/libs.versions.toml
Labels: Chat

#30 feature/CHT-21-handle-contacts-exception
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/BaseRepository.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/exception/ChatExceptions.kt
  gradle/libs.versions.toml
Labels: Chat

#29 Feature/Setup dependecy injection For trends
  gradle/libs.versions.toml
  trends_api/build.gradle.kts
  trends_api/src/commonMain/kotlin/net/thechance/mena/trends/api/TrendsApi.kt
  trends_api/src/commonMain/kotlin/net/thechance/mena/trends/api/di/TrendApiModule.kt
  trends_data/build.gradle.kts
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/di/TrendDataModule.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/mapper/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/FakeReelsRepositoryImpl.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/safeApiCall.kt
  trends_domain/build.gradle.kts
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/di/TrendDomainModule.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Category.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Reel.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/exception/.gitkeep
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/repository/ReelRepository.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/util/.gitkeep
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/di/TrendPresentationModule.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/Route.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsApiImpl.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsNavGraph.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/TestScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/TestViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/base/BaseViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/.gitkeep
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/util/extensions.kt
Labels: Trends

#28 refactor: create dukan base structure
  dukan_presentation/src/androidMain/kotlin/net/thechance/mena/dukan/presentation/util/OnSystemBackPressed.android.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/OnSystemBackPressed.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
  dukan_presentation/src/iosMain/kotlin/net/thechance/mena/dukan/presentation/util/OnSystemBackPressed.ios.kt
Labels: enhancement, Dukan

#40 refactor Dukan entity class
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/entity/Dukan.kt
Labels: Dukan

#36 Feature/DKN-12-select dukan image
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/ImageCroppingBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/SaveButton.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/UploadAnotherImageButton.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/UploadImageBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/ZoomButton.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/components/ZoomControlsButton.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContentSelectImage.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/DukanImageCropContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/UploadDukanImageContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
Labels: Dukan

#43 implement navigation for login screen using voyager library
  composeApp/build.gradle.kts
  composeApp/src/androidMain/AndroidManifest.xml
  composeApp/src/androidMain/kotlin/net/thechance/mena/MenaApp.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/App.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/initKoin.kt
  gradle/libs.versions.toml
  identity_domain/src/commonMain/kotlin/net/thechance/mena/identity/domain/exception/Exception.kt
  identity_presentation/build.gradle.kts
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/BaseInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/BaseScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/BaseScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/ErrorState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/di/identityScreensModule.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIEffect.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIState.kt
Labels: Identity

#39 Feature/prepare contacts ktor api calls
  core_chat_data/build.gradle.kts
  core_chat_data/src/androidMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.android.kt
  core_chat_data/src/androidMain/kotlin/net/thechance/mena/core_chat/data/di/networkModule.android.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactMapper.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/dto/ContactCreationRequestDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/dto/ContactDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/source/device/DeviceContactsDataSource.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/source/remote/ContactsDataSource.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/chatDataModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/networkModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/repositoryModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/ApiConstants.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/HttpClientHolder.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/BaseRepository.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/dto/PagedDataDto.kt
  core_chat_data/src/iosMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.ios.kt
  core_chat_data/src/iosMain/kotlin/net/thechance/mena/core_chat/data/di/networkModule.ios.kt
  gradle/libs.versions.toml
Labels: Chat

#46 Feature/TRN-23 setup ktor http client for trends
  gradle/libs.versions.toml
  trends_data/build.gradle.kts
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/di/NetworkModule.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/di/TrendDataModule.kt
Labels: Trends

#35 Feature/cht 15 start implement chat screen
  core_chat_presentation/build.gradle.kts
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_arrow_left.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_circular_mena_disabled.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_circular_mena_enabled.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_phone.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_phone_back.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_phone_front.webp
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_resync.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_shadow_ball.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_warning.xml
  core_chat_presentation/src/commonMain/composeResources/values-ar/strings.xml
  core_chat_presentation/src/commonMain/composeResources/values/strings.xml
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatNavHost.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/Routes.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chats/ChatsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactUi.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/components/CircularAvatar.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/components/ContactItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/components/ContactsList.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/components/ContactsSyncedView.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/components/NoContactsSyncView.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/components/PhoneIcon.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screens/ContactsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/shared/BasePagingSource.kt
  gradle/libs.versions.toml
Labels: Chat

#54 Feature CHT 22 create data store save sync state
  core_chat_data/build.gradle.kts
  core_chat_data/src/androidMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.android.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/utils/CreateDataStore.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/BaseRepository.kt
  core_chat_data/src/iosMain/kotlin/net/thechance/mena/core_chat/data/di/dataProviderModule.ios.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/exception/ChatExceptions.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/repository/ContactsRepository.kt
  gradle/libs.versions.toml
Labels: Chat

#48 Feature/IDN-21 Make workflow reusable and run only affected modules with dependencies
  .github/workflows/android-build.yml
  .github/workflows/android-ci.yml
  .github/workflows/detect-changed-modules.yml
  .github/workflows/ios-build.yml
  .github/workflows/ios-ci.yml
  .github/workflows/test_coverage.yml
  build.gradle.kts
Labels: Infra

#60 Feature/IDN-24 Add Auto-label Workflow for PRs
  .github/workflows/auto-label.yml
Labels: Infra

#50 Feature/FTH-22 add quran typography
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/designSystem/theme/QuranTheme.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/designSystem/typography/QuranTypography.kt
Labels: Faith

#53 Feature/FTH-18 empty book mark
  faith_presentation/build.gradle.kts
  faith_presentation/src/commonMain/composeResources/drawable/ic_not_saved_book_mark.xml
  faith_presentation/src/commonMain/composeResources/values/strings.xml
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/component/EmptyBookMark.kt
Labels: Faith

#70 Refactor/dkn 23 refactor create dukan viewmodel and implement di
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/DukanRepoistoryImpl.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/di/DukanViewModelModule.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/CreateDukanScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContentBasicInformation.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/UploadDukanImageContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/ImageCropScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/componetns/CategorySelectionRow.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/cropImage/componetns/UploadImageBox.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/Mapper.kt
Labels: Dukan

#62 Feature/trn 5 manage trend screen
  gradle/libs.versions.toml
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/composeResources/values/strings.xml
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/Route.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsNavGraph.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsInteractionListener.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsScreenState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsUiEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/Mapper.kt
Labels: Trends

#77 feat: Integrate Room database for Quran data
  faith_data/build.gradle.kts
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/.gitkeep
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.android.kt
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/di/faithPlatformModule.android.kt
  faith_data/src/commonMain/composeResources/files/hafs_smart_v8.db
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/AyaDao.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/AyahDto.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabase.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/SurahDto.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/getQuranDatabase.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/FaithDataModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/RepositoryModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/faithDataModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/faithPlatformModule.kt
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/.gitkeep
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.ios.kt
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/di/faithPlatformModule.ios.kt
  gradle/libs.versions.toml
Labels: Faith

#79 Feature/IDN-16 Configure multi environment builds
  composeApp/build.gradle.kts
  composeApp/src/androidMain/kotlin/net/thechance/mena/AppEnvironment.android.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/AppEnvironment.kt
  composeApp/src/iosMain/kotlin/net/thechance/mena/AppEnvironment.ios.kt
  iosApp/Configuration/Development.xcconfig
  iosApp/Configuration/Production.xcconfig
  iosApp/Configuration/Staging.xcconfig
  iosApp/iosApp/Info.plist
Labels: Infra

#68 Feature: Get Dukan location
  .gitignore
  build.gradle.kts
  composeApp/src/commonMain/kotlin/net/thechance/mena/App.kt
  dukan_data/build.gradle.kts
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/LocationRepositoryImpl.kt
  dukan_domain/src/commonMain/kotlin/net/thechance/mena/dukan/domain/repository/LocationRepository.kt
  dukan_presentation/build.gradle.kts
  dukan_presentation/dukan_presentation.podspec
  dukan_presentation/src/commonMain/composeResources/drawable/anchor.webp
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/CreateDukan/CreateDukanScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/CreateDukan/content/component/Map.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/CreateDukanContentSelectLocation.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createDukan/content/component/.gitkeep
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/map/MapStyle.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/Mapper.kt
  gradle/libs.versions.toml
  iosApp/Podfile
  iosApp/Podfile.lock
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcworkspace/contents.xcworkspacedata
  iosApp/iosApp/Info.plist
Labels: Dukan

#92 Feature TRN-6 Get My Trends
  gradle/libs.versions.toml
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/CategoryDto.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/ReelDto.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/RemoteResponse.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/mapper/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/mapper/CategoryMapper.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/mapper/ReelMapper.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/FakeReelsRepositoryImpl.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/ReelsRepositoryImpl.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/NetworkConstants.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Category.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Reel.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/repository/ReelsRepository.kt
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/navigation/TrendsNavGraph.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/TestViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsInteractionListener.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsScreenState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsUiEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/mapper.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/managemytrendscreen/ManageTrendsViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelEffect.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelInteractionListener.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelScreen.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelState.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/base/BasePaginationSource.kt
Labels: Trends

#96 Add branch name check
  .github/workflows/branch-name-check.yml
Labels: Infra

#98 Feature: Add Country Picker
  composeApp/src/androidMain/kotlin/net/thechance/mena/MainActivity.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomSheet/BottomSheet.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomSheet/sheetNestedScrollConnection.kt
  identity_presentation/src/commonMain/composeResources/drawable/ae_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/bh_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/dz_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/eg_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/iq_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/ir_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/jo_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/kw_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/lb_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/ly_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/ma_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/om_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/ps_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/qa_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/sa_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/sd_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/so_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/sy_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/tn_flag.xml
  identity_presentation/src/commonMain/composeResources/drawable/ye_flag.xml
  identity_presentation/src/commonMain/composeResources/values-ar/strings.xml
  identity_presentation/src/commonMain/composeResources/values/strings.xml
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/components/CountrySelectableRowItem.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/components/FlagImage.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/countryPicker/CountryPicker.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/countryPicker/CountryPickerUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/countryPicker/menaCountries/MenaCountry.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/countryPicker/selectByCountry.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIState.kt
Labels: Infra

#76 feature/FTH-10 Surah screen ui
  faith_data/build.gradle.kts
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/faithDataModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/repository/DummyQuranRepositorySampleImpl.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/repository/QuranRepositoryImpl.kt
  faith_domain/src/commonMain/kotlin/net/thechance/mena/faith/domain/repository/QuranRepository.kt
  faith_presentation/build.gradle.kts
  faith_presentation/src/androidMain/kotlin/net/thechance/mena/faith/presentation/.gitkeep
  faith_presentation/src/androidMain/kotlin/net/thechance/mena/faith/presentation/util/ClipBoardManager.android.kt
  faith_presentation/src/commonMain/composeResources/drawable/ic_all_bookmark.xml
  faith_presentation/src/commonMain/composeResources/drawable/ic_bismillah.xml
  faith_presentation/src/commonMain/composeResources/drawable/ic_check_circle.xml
  faith_presentation/src/commonMain/composeResources/drawable/ic_copy.xml
  faith_presentation/src/commonMain/composeResources/drawable/ic_link_forward.xml
  faith_presentation/src/commonMain/composeResources/values/strings.xml
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/di/viewModelModule.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/AyatMappers.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahInteractionListener.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreenEffect.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreenState.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AnnotionStringBuilder.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AyahActionButtons.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/SurahComponents.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/VerticalDivider.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/util/ClipBoardManager.kt
  faith_presentation/src/iosMain/kotlin/net/thechance/mena/faith/presentation/.gitkeep
  faith_presentation/src/iosMain/kotlin/net/thechance/mena/faith/presentation/util/ClipBoardManager.ios.kt
Labels: Faith

#107 Feature/IDN-12 login UI
  composeApp/build.gradle.kts
  composeApp/src/commonMain/kotlin/net/thechance/mena/initKoin.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/button/Button.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/textField/MobileNumberTextField.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/textField/TextField.kt
  identity_domain/build.gradle.kts
  identity_domain/src/commonMain/kotlin/net/thechance/mena/identity/domain/di/domainModule.kt
  identity_presentation/src/commonMain/composeResources/drawable/Iraq_flag.png
  identity_presentation/src/commonMain/composeResources/drawable/ic_close_circle.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_close_eye.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_lock.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_open_eye.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_phone.xml
  identity_presentation/src/commonMain/composeResources/drawable/login_background.png
  identity_presentation/src/commonMain/composeResources/drawable/mena_logo.png
  identity_presentation/src/commonMain/composeResources/font/madimi_one_regular.ttf
  identity_presentation/src/commonMain/composeResources/values/strings.xml
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/BaseScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/countryPicker/CountryPickerUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/di/identityScreensModule.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/mapper/ExceptionMapper.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/components/AuthPrompt.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/components/AuthScreenContainer.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/components/PageDescription.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/components/PhoneNumberInput.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/components/util/LengthBasedPhoneVisualTransformation.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forget_password/ForgetPasswordScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forget_password/ForgetPasswordScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forget_password/ForgetPasswordScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forget_password/ForgetPasswordScreenUIEffect.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/forget_password/ForgetPasswordScreenUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIEffect.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenUIEffect.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenUIState.kt
Labels: Infra

#110 Fix Country Picker Issues
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomSheet/BottomSheet.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/components/CountrySelectableRowItem.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
Labels: Infra

#114 fix/IDN-42 fix login snackbar issues
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/base/ErrorState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/mapper/ExceptionMapper.kt
Labels: Infra

#85 Feature/FTH-21 navigation from the surah list
  faith_presentation/build.gradle.kts
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurEffect.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurInteractionListener.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/navigation/FaithNavGraph.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/navigation/Routes.kt
Labels: Faith

#115 Feature/dkn 33 unit tests for select location
  dukan_data/build.gradle.kts
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/LocationRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/location/GeocoderWrapper.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/location/LocationRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/location/MobileGeocoderWrapper.kt
  dukan_data/src/commonTest/kotlin/net/thechance/mena/dukan/data/repository/LocationRepositoryImplTest.kt
  dukan_presentation/build.gradle.kts
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/Mapper.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModelTest.kt
  gradle/libs.versions.toml
Labels: Dukan

#93 add Slack notifications and deployment to slack
  .github/actions/build-release-apk/action.yml
  .github/actions/slack/send-pr-notification/action.yml
  .github/workflows/android-build.yml
  .github/workflows/deploy_develop_release.yml
  .github/workflows/deploy_production_release.yml
  .github/workflows/deploy_staging_release.yml
  .github/workflows/ios-build.yml
  .github/workflows/test_coverage.yml
Labels: Infra

#112 Feature/wlt 12 real implementation for repo
  composeApp/src/androidMain/AndroidManifest.xml
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/BalanceRepositoryImpl.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/dto/BalanceDto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/utils/NetworkClient.kt
Labels: Wallet

#104 Feature/TRN-24 exception handling
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/.gitkeep
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/safeApiCall.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/exception/.gitkeep
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/exception/TrendsException.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/util/.gitkeep
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/util/Logger.kt
  trends_presentation/src/androidMain/kotlin/net/thechance/mena/trends/presentation/shared/util/logger/LoggerDefault.android.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/util/logger/LoggerDefault.kt
  trends_presentation/src/iosMain/kotlin/net/thechance/mena/trends/presentation/shared/util/logger/LoggerDefault.ios.kt
Labels: Trends

#105 fix pending screen issue
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/pendingDukanScreen/PendingDukanScreen.kt
Labels: Dukan

#116 Test/dkn 32 add unit tests for style
  dukan_presentation/build.gradle.kts
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModel.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createDukan/CreateDukanViewModelTest.kt
Labels: Dukan

#108 Feature/cht 26 refactor contact dto to use first and last name and remove base response
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactMapper.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/dto/ContactCreationRequestDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/dto/ContactDto.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/ApiConstants.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/BaseRepository.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/shared/dto/BaseResponseDto.kt
Labels: Chat

#81 Feature CHT 23 test for contacts repository
  core_chat_data/build.gradle.kts
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactMapper.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImplTest.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/fakes/FakeContactsProvider.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/fakes/FakeDataStore.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/fakes/fakeDataSamples.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/utils.kt
  gradle/libs.versions.toml
Labels: Chat

#125 fix/IDN-46 exception handling
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/datasource/AuthRemoteDataSourceImpl.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/utils/provideHttpClient.kt
  identity_data/src/commonMain/kotlin/net/thechance/mena/identity/data/utils/safeWrapper.kt
  identity_domain/src/commonMain/kotlin/net/thechance/mena/identity/domain/exception/Exception.kt
Labels: Infra

#97 feature/CHT 25 test sync contacts viewmodel
  core_chat_presentation/build.gradle.kts
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsViewModelTest.kt
  gradle/libs.versions.toml
Labels: Chat

#128 fix IDN-48 status bar icons color
  composeApp/src/androidMain/kotlin/net/thechance/mena/MainActivity.kt
  composeApp/src/androidMain/kotlin/net/thechance/mena/StatusBarManager.android.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/App.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/StatusBarManager.kt
  composeApp/src/iosMain/kotlin/net/thechance/mena/StatusBarManager.ios.kt
Labels: Infra

#91 Feature/CHT-24-test-contacts-view-model
  core_chat_data/build.gradle.kts
  core_chat_presentation/build.gradle.kts
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModelTest.kt
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/Log.kt
  gradle/libs.versions.toml
Labels: Chat

#132 Feature/FTH-17 handle bookmark creational time
  faith_data/build.gradle.kts
  faith_presentation/build.gradle.kts
  faith_presentation/src/commonMain/composeResources/values-ar/strings.xml
  faith_presentation/src/commonMain/composeResources/values/strings.xml
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/extensions/getTimeAgo.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/bookmark/component/AyaBookmarkCard.kt
  gradle/libs.versions.toml
Labels: Faith

#82 Refactor/cht 27 centralize effect handling and in nav host
  core_chat_presentation/src/commonMain/composeResources/values-ar/strings.xml
  core_chat_presentation/src/commonMain/composeResources/values/strings.xml
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/components/SnackBarHost.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/di/ViewModelModule.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatEffect.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatEffector.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatEffectorImpl.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatNavHost.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/EffectHandler.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/Routes.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/platformUtil.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chats/ChatsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chats/ChatsScreenEffect.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chats/ChatsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreenEffect.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreenInteractionListener.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsScreenState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsScreenArgs.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsScreenEffect.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsScreenInteractionListener.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/shared/BaseViewModel.kt
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModelTest.kt
  core_chat_presentation/src/commonTest/kotlin/net/thechance/mena/core_chat/presentation/screen/syncContacts/SyncContactsViewModelTest.kt
Labels: Chat

#136 feature/FTH-11-integration-quran-and-sur-with-datasource
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/AyahDao.kt
  faith_presentation/src/androidMain/kotlin/net/thechance/mena/faith/presentation/util/AppDispatchers.android.kt
  faith_presentation/src/androidMain/kotlin/net/thechance/mena/faith/presentation/util/androidModule.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/base/BaseViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/di/viewModelModule.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurEffect.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/sur/SurViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/AyatMappers.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahInteractionListener.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreen.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahScreenState.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/SurahViewModel.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AnnotionStringBuilder.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/AyahActionButtons.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/feature/quran/surah/component/SurahComponents.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/navigation/FaithNavGraph.kt
  faith_presentation/src/commonMain/kotlin/net/thechance/mena/faith/presentation/util/AppDispatchers.kt
  faith_presentation/src/iosMain/kotlin/net/thechance/mena/faith/presentation/util/AppDispatchers.ios.kt
  faith_presentation/src/iosMain/kotlin/net/thechance/mena/faith/presentation/util/iosModule.kt
Labels: Faith

#131 Feature/FTH-24 initialize ktor with configuration
  faith_data/build.gradle.kts
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/RemoteDataSource.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/faithDataModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/mapper/.gitkeep
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/remote/client/HttpClientProvider.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/repo/.gitkeep
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/utils/ExecuteSafely.kt
  faith_domain/src/commonMain/kotlin/net/thechance/mena/faith/domain/exception/FaithException.kt
  gradle/libs.versions.toml
Labels: Faith

#138 Fix Bottom sheet dismissing behavior
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomSheet/BottomSheet.kt
Labels: Infra

#137 Hot fix login validations are not applied
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
Labels: Infra

#140 Feature/WLT-2 view my balance
  build.gradle.kts
  gradle/libs.versions.toml
  wallet_data/build.gradle.kts
  wallet_data/src/androidMain/kotlin/net/thechance/mena/wallet/data/extension/ApiClient.android.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/di/WalletDataModule.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/dto/BalanceDto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/exceptions/EmptyResponse.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/exceptions/ErrorDto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/exceptions/safeApiCall.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/extension/NetworkClient.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/extension/NetworkClientImpl.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/BalanceRepositoryImpl.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/BalanceRepositoryImplTest.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/utils/MockEngine.kt
  wallet_data/src/iosMain/kotlin/net/thechance/mena/wallet/data/extension/ApiClient.ios.kt
  wallet_domain/build.gradle.kts
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/.gitkeep
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/di/WalletDomainModule.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/exceptions/exceptions.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/BalanceRepository.kt
  wallet_presentation/build.gradle.kts
  wallet_presentation/src/commonMain/composeResources/drawable-hdpi/img_silver.webp
  wallet_presentation/src/commonMain/composeResources/drawable-mdpi/img_silver.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xhdpi/img_silver.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xxhdpi/img_silver.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xxxhdpi/img_silver.webp
  wallet_presentation/src/commonMain/composeResources/drawable/ic_arrow_left.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_check_circle.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_close_circle.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_reload.xml
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/.gitkeep
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/BaseViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/SnackBarState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/base/UiState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/SnackBarContainer.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/WalletScaffold.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/di/WalletPresentationModule.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/BalanceCard.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/ThreeDotsLoadingIndicator.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/TopNotchShape.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/Modifiers.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/ObserveAsEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/StringUtils.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/utils/TextUtils.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModelTest.kt
Labels: Wallet

#143 Test/idn 62 login viewmodel test
  gradle/libs.versions.toml
  identity_domain/src/commonMain/kotlin/net/thechance/mena/identity/domain/useCase/LoginUseCase.kt
  identity_presentation/build.gradle.kts
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenUIState.kt
  identity_presentation/src/commonTest/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginViewModelTest.kt
Labels: Infra

#145 Refactor: Update Quran database and data handling
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.android.kt
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/di/platformModule.android.kt
  faith_data/src/androidMain/kotlin/net/thechance/mena/faith/data/utils/AppDispatchers.android.kt
  faith_data/src/commonMain/composeResources/files/hafs_smart_v8.db
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/AyahDao.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/AyahDto.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/SimpleAyahDto.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/SurahDto.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/database/getQuranDatabase.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/faithDataModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/di/platformModule.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/mapper/AyahMapper.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/mapper/SurahMapper.kt
  faith_data/src/commonMain/kotlin/net/thechance/mena/faith/data/utils/AppDispatchers.kt
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/database/QuranDatabaseBuilder.ios.kt
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/di/platformModule.ios.kt
  faith_data/src/iosMain/kotlin/net/thechance/mena/faith/data/utils/AppDispatchers.ios.kt
Labels: Faith

#146 Fix/IDN-64 add missing environment schemes for IOS
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp-Development.xcscheme
  iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp-Staging.xcscheme
  iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
Labels: Infra

#144 Add Podfile for MapLibre to enable iOS build
  .gitignore
  iosApp/Podfile
Labels: Infra

#152 Feature/dkn 41 create shelf
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/di/DukanRepositoryModule.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/ShelfRepositoryImpl.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/CreateShelfRequest.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/dto/ShelfDto.kt
  dukan_data/src/commonMain/kotlin/net/thechance/mena/dukan/data/repository/mapper/mapper.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/ShelfRepositoryImplTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mapper/ShelfMappersTest.kt
  dukan_data/src/test/java/net/thechance/mena/dukan/data/repository/mockEngine.kt
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/di/DukanViewModelModule.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/createShelf/CreateShelfScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewCreateShelfInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfViewModel.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/createShelf/CreateShelfViewModelTest.kt
Labels: Dukan

#159 Feature/dkn 52 manage shelf
  dukan_presentation/src/commonMain/composeResources/drawable/ic_delete.xml
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/di/DukanViewModelModule.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanNavHost.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanRoute.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/manageShelf/ManageShelfArgs.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/manageShelf/ManageShelfScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/manageShelf/content/ManageShelfContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/util/stubPreviews/PreviewManageShelfInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageShelf/ManageShelfEffect.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageShelf/ManageShelfInteractionListener.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageShelf/ManageShelfUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageShelf/ManageShelfViewModel.kt
  dukan_presentation/src/commonTest/kotlin/net/thechance/mena/dukan/presentation/viewModel/manageShelf/ManageShelfViewModelTest.kt
Labels: Dukan

#161 Feature/CHT 35 Messaging screen UI
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/.gitkeep
  core_chat_presentation/build.gradle.kts
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_add.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_cancel.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_close_circle.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_delete.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_menu.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_message_read.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_message_sent.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_mic.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_refresh.xml
  core_chat_presentation/src/commonMain/composeResources/drawable/ic_telegram.xml
  core_chat_presentation/src/commonMain/composeResources/values-ar/strings.xml
  core_chat_presentation/src/commonMain/composeResources/values/strings.xml
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/ChatNavHost.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/navigation/Routes.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatInteractionListener.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatScreen.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatScreenState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/ChatUiState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/MessageUiState.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ActionMenuItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/BaseMessageLayout.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/CancelIcon.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatActionsDialog.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatHeader.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatInputBar.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatList.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ChatListItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/MessageInfo.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/MessagingScreenOverlays.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/ResendMessageDailog.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/chat/components/TextMessageItem.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/screen/contacts/ContactsViewModel.kt
  core_chat_presentation/src/commonMain/kotlin/net/thechance/mena/core_chat/presentation/utils/LocalDateTimeUtils.kt
  gradle/libs.versions.toml
Labels: Chat

#178 Feature/TRN-32-update trend logic
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/dto/UpdateReelRequestDTO.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/mapper/ReelMapper.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/repository/ReelsRepositoryImpl.kt
  trends_data/src/commonMain/kotlin/net/thechance/mena/trends/data/util/mapperExtensions.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/mapper/ReelMapperTest.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/repository/ReelRepositoryImplTest.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/repository/util/engine.kt
  trends_data/src/commonTest/kotlin/net/thechance/mena/trends/data/repository/util/mockReelResponse.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/entity/Reel.kt
  trends_domain/src/commonMain/kotlin/net/thechance/mena/trends/domain/repository/ReelsRepository.kt
Labels: Trends

#171 Feature/TRN-5- add unit test user reel viewmodel
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelViewModel.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/args/UserReelArgs.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/args/UserReelArgsImpl.kt
  trends_presentation/src/commonTest/kotlin/net/thechance/mena/trends/presentation/screen/user_reel/UserReelViewModelTest.kt
Labels: Trends

#174 Feature/WLT- 29-create-empty-state-screen
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/component/SratePlaceholder.kt
Labels: Wallet

#198 add main screen navigation
  composeApp/build.gradle.kts
  composeApp/src/commonMain/kotlin/net/thechance/mena/App.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/api/ComposeAppApiImpl.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/di/screenModule.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/initKoin.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/MainScreen.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/tabs/DukanTab.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/tabs/FaithTab.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/tabs/HomeTab.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/tabs/ProfileTab.kt
  composeApp/src/commonMain/kotlin/net/thechance/mena/screen/main/tabs/TrendsTab.kt
  design_system/src/commonMain/composeResources/values/strings.xml
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomNavigation/BottomNavigationBar.kt
  design_system/src/commonMain/kotlin/net/thechance/mena/designsystem/presentation/component/bottomNavigation/BottomNavigationBarContent.kt
  identity_api/build.gradle.kts
  identity_api/src/commonMain/kotlin/net/thechance/mena/identity/api/IdentityFeatureApi.kt
  identity_presentation/build.gradle.kts
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/api/ComposeAppApi.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/api/IdentityFeatureApiImpl.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenModel.kt
Labels: Infra

#167 Feature/TRN-34 upload video card component
  trends_presentation/src/commonMain/composeResources/drawable/ic_edit.xml
  trends_presentation/src/commonMain/composeResources/drawable/ic_trend_upload.xml
  trends_presentation/src/commonMain/composeResources/values-ar/strings.xml
  trends_presentation/src/commonMain/composeResources/values/strings.xml
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/EditButton.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/UploadVideoCard.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/modifier/dashedBorder.kt
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/shared/component/modifier/noRippleClickable.kt
Labels: Trends

#175 feature : create fake chat repository
  core_chat_data/build.gradle.kts
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/FakeChatRepository.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/chat/utils/DateTimeExtensions.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/repositoryModule.kt
  core_chat_domain/build.gradle.kts
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/exception/ChatExceptions.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/repository/ChatRepository.kt
  core_chat_domain/src/commonMain/kotlin/net/thechance/mena/core_chat/domain/repository/MessageRepository.kt
  gradle/libs.versions.toml
Labels: Chat

#185 Feature/dkn 40 approved dukan
  dukan_presentation/src/commonMain/composeResources/drawable/approved_dukan.png
  dukan_presentation/src/commonMain/composeResources/values-ar/strings.xml
  dukan_presentation/src/commonMain/composeResources/values/strings.xml
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/component/ImageWithTextContainer.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/navigation/DukanRoute.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/main/MainScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/main/components/TopAppBar.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/manageShelf/content/ManageShelfContent.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/pendingDukan/PendingDukan.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/screen/pendingDukan/PendingDukanScreen.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/mainScreen/MainScreenUiState.kt
  dukan_presentation/src/commonMain/kotlin/net/thechance/mena/dukan/presentation/viewModel/mainScreen/MainViewModel.kt
Labels: Dukan

#201 Feature/idn 53 implement profile screen UI
  composeApp/src/commonMain/kotlin/net/thechance/mena/App.kt
  gradle/libs.versions.toml
  identity_presentation/build.gradle.kts
  identity_presentation/src/commonMain/composeResources/drawable/ic_addresses.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_contact_us.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_edit_profile_info.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_invite_friends.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_language.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_password_lock.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_privacy_and_policies.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_privacy_settings.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_share.xml
  identity_presentation/src/commonMain/composeResources/drawable/ic_theme.xml
  identity_presentation/src/commonMain/composeResources/values-ar/strings.xml
  identity_presentation/src/commonMain/composeResources/values/strings.xml
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/di/identityScreensModule.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginScreenViewModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreenUIEffect.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreenUIState.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileScreenViewModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/AccountSettingsSection.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/AppSettingsSection.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/InviteFriendsCard.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/OtherSettingsSection.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/ProfileInfoContainer.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/SettingItem.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/profile/components/ShareIcon.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreen.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenInteractionListener.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenModel.kt
  identity_presentation/src/commonMain/kotlin/net/thechance/mena/identity/presentation/screen/register/RegisterScreenUIEffect.kt
  identity_presentation/src/commonTest/kotlin/net/thechance/mena/identity/presentation/screen/login/LoginViewModelTest.kt
  identity_presentation/src/commonTest/kotlin/net/thechance/mena/identity/presentation/screen/profile/ProfileViewModelTest.kt
Labels: Infra

#216 Resolve build problem while workflow running
  .github/workflows/ios-build.yml
  core_chat_api/build.gradle.kts
  core_chat_data/build.gradle.kts
  core_chat_domain/build.gradle.kts
  core_chat_presentation/build.gradle.kts
  dukan_api/build.gradle.kts
  dukan_data/build.gradle.kts
  dukan_domain/build.gradle.kts
  dukan_presentation/build.gradle.kts
  faith_api/build.gradle.kts
  faith_data/build.gradle.kts
  faith_domain/build.gradle.kts
  faith_presentation/build.gradle.kts
  trends_api/build.gradle.kts
  trends_data/build.gradle.kts
  trends_domain/build.gradle.kts
  trends_presentation/build.gradle.kts
  wallet_api/build.gradle.kts
  wallet_data/build.gradle.kts
  wallet_domain/build.gradle.kts
  wallet_presentation/build.gradle.kts
Labels: Infra

#209 Feature/cht 47 add bearer token to chat requests
  .gitignore
  core_chat_data/build.gradle.kts
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImpl.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/di/networkModule.kt
  core_chat_data/src/commonMain/kotlin/net/thechance/mena/core_chat/data/network/ApiConstants.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/ContactsRepositoryImplTest.kt
  core_chat_data/src/commonTest/kotlin/net/thechance/mena/core_chat/data/contacts/utils.kt
Labels: Chat

#165 test: FTH-37 - implement unit tests for Bookmark Repository
  faith_data/build.gradle.kts
  faith_data/src/test/java/net/thechance/mena/faith/data/repository/BookmarkRepositoryImplTest.kt
  faith_data/src/test/java/net/thechance/mena/faith/data/repository/MockQuranDao.kt
  faith_data/src/test/java/net/thechance/mena/faith/data/repository/mockBookmarkResponse.kt
  faith_data/src/test/java/net/thechance/mena/faith/data/repository/mockEngine.kt
Labels: Faith

#179 Test/FTH 38 implement unit testing for mapper and helper function
  faith_data/build.gradle.kts
  faith_data/src/test/java/net/thechance/mena/faith/data/mapper/ayahBookmark/AyahMapperKtTest.kt
  faith_data/src/test/java/net/thechance/mena/faith/data/mapper/ayahBookmark/SurahMapperKtTest.kt
  faith_presentation/src/test/java/net/thechance/mena/faith/presentation/feature/quran/bookmark/BookmarkMapperKtTest.kt
Labels: Faith

#218 WLT-34-make-navigation
  wallet_presentation/build.gradle.kts
  wallet_presentation/src/commonMain/composeResources/drawable/ic_clock.xml
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/WalletApiImpl.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/NavigationHost.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/Routes.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/export_transactions/ExportTransactionsScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_details/TransactionDetailsScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transactions_history/TransactionsHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/view_transactions_statement/ViewTransactionsStatementScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/component/LabeledButtonWithCircularIcon.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletViewModelTest.kt
Labels: Wallet

#192 TRN-29-add unit test for ManageTrendsViewModel
  gradle/libs.versions.toml
  trends_presentation/build.gradle.kts
  trends_presentation/src/commonMain/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsViewModel.kt
  trends_presentation/src/commonTest/kotlin/net/thechance/mena/trends/presentation/screen/manage_my_trends/ManageTrendsViewModelTest.kt
Labels: Trends

#207 Test/FTH-35-quran-repository
  faith_data/build.gradle.kts
  faith_data/src/commonTest/kotlin/net/thechance/mena/faith/data/repository/QuranRepositoryImplTest.kt
Labels: Faith

#210 Feature/wlt 22 transaction history UI
  wallet_data/build.gradle.kts
  wallet_domain/build.gradle.kts
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/TransactionRepository.kt
  wallet_presentation/src/commonMain/composeResources/drawable/ic_failed.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_filter.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_receive.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_send.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_share.xml
  wallet_presentation/src/commonMain/composeResources/drawable/ic_shopping_bag.xml
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/navigation/NavigationHost.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryEffect.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryInteractionListener.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryScreenState.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionAmountRow.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionContent.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionStatusIcon.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactionhistoryCard.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/component/TransactiontitleAndAmount.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/mapper.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transactions_history/TransactionsHistoryScreen.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/wallet/WalletScreen.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModelTest.kt
Labels: Wallet

#224 fix: force specific coverage percentage in codecov for any changed code.
  codecov.yml
Labels: Infra

#230 Feature/wlt 27 domain and data for filter transactions
  wallet_data/build.gradle.kts
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/dto/PagedTransactionResponseDto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/dto/TransactionDto.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/mapper/FilterParamsMapper.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/mapper/TransactionMapper.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/TransactionRepositoryImpl.kt
  wallet_data/src/commonTest/kotlin/net/thechance/mena/wallet/repository/TransactionRepositoryImplTest.kt
  wallet_domain/build.gradle.kts
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/entity/Transaction.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/model/TransactionFilterParams.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/model/TransactionStatus.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/model/TransactionType.kt
  wallet_domain/src/commonMain/kotlin/net/thechance/mena/wallet/domain/repository/TransactionRepository.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModel.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/mapper.kt
  wallet_presentation/src/commonTest/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryViewModelTest.kt
Labels: Wallet

#237 WLT 42 fix build issues in wallet
  wallet_api/src/commonMain/kotlin/net/thechance/mena/wallet/api/WalletApi.kt
  wallet_data/src/commonMain/kotlin/net/thechance/mena/wallet/data/repository/balance/TransactionRepositoryImpl.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/WalletApiImpl.kt
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/transaction_history/TransactionHistoryInteractionListener.kt
Labels: Wallet

#238 feature/WLT-33-filter-empty-state-screen
  wallet_presentation/src/commonMain/composeResources/drawable-hdpi/img_filter_error.webp
  wallet_presentation/src/commonMain/composeResources/drawable-mdpi/img_filter_error.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xhdpi/img_filter_error.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xxhdpi/img_filter_error.webp
  wallet_presentation/src/commonMain/composeResources/drawable-xxxhdpi/img_filter_error.webp
  wallet_presentation/src/commonMain/composeResources/values-ar/strings.xml
  wallet_presentation/src/commonMain/composeResources/values/strings.xml
  wallet_presentation/src/commonMain/kotlin/net/thechance/mena/wallet/presentation/screen/FilterTransactionError.kt
Labels: Wallet
